<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.zcoder.xxp.function">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="cn.zcoder.xxp.ui.BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.FunctionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--通讯录-->
        <activity
            android:name=".ui.activity.FunctionAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--通讯录  其他联系人详细信息-->
        <activity
            android:name=".ui.activity.AddressBookDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--通讯录  添加手机号码-->
        <activity
            android:name=".ui.activity.AddNumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--上学守护-->
        <activity
            android:name=".ui.activity.FunctionBActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--上学守护 时间段-->
        <activity
            android:name=".ui.activity.GoToSchoolTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--上学守护 位置选取-->
        <activity
            android:name=".ui.activity.SelectAddrsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--上课禁用-->
        <activity
            android:name=".ui.activity.FunctionCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--上课禁用 时间段 新增 或编辑-->
        <activity
            android:name=".ui.activity.ForbiddenTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--佩戴检测-->
        <activity
            android:name=".ui.activity.FunctionDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>

        <!--手表话费-->
        <activity
            android:name=".ui.activity.FunctionCommonAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--代收短信-->
        <activity
            android:name=".ui.activity.FunctionCommonBActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--代收短信 管理页面-->
        <activity
            android:name=".ui.activity.CollectionMsgManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--通话位置-->
        <activity
            android:name=".ui.activity.FunctionCommonCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--计步-->
        <activity
            android:name=".ui.activity.FunctionCommonDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--定时开关机-->
        <activity
            android:name=".ui.activity.FunctionCommonEActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--自动连接-->
        <activity
            android:name=".ui.activity.FunctionCommonFActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--预留电量-->
        <activity
            android:name=".ui.activity.FunctionCommonGActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--语音提示-->
        <activity
            android:name=".ui.activity.FunctionCommonHActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--手表设置-->
        <activity
            android:name=".ui.activity.FunctionMoreAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--手表设置 声音和振动-->
        <activity
            android:name=".ui.activity.SoundAndSnakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--拒绝陌生人来电-->
        <activity
            android:name=".ui.activity.FunctionMoreBActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--体感接听-->
        <activity
            android:name=".ui.activity.FunctionMoreCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--手表挂失-->
        <activity
            android:name=".ui.activity.FunctionMoreDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <!--功能模块  end-->
    </application>
</manifest>
